*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
nav ul{
    list-style: none;
}
nav a{
    text-decoration: none;
    padding-left:30px ;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 21px 24px 20px 25px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px 240px;
}
nav > ul{
    display: flex;
}
header{
    background: rgba(255, 144, 14, 0.10);
}
.main-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.first-heading{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 18px;
}
.primary-paragraph{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 33px;
    margin-top: 24px;
}
.header-description{
    text-align: center;
}
.image-container{
    padding: 50px 240px 45px 240px;
}
main{
    max-width: 1440px;
    margin:70px auto;
}
.team-heading{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 24px;
}
.of-our{
    color: #131313;
    font-weight: 700;
}
.feature{
    color: #FF900E;
    font-weight: 700;
}
.first-section{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 24px;
}
.team-title{
    padding-left: 70px;
}
.second-section{
    margin-top: 80px;
}
.facts-container{
    display: flex;
    justify-content: space-around;
}
.fact{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 45px 35px 60px 35px;
    text-align: center;
    margin-top: 80px;
}
.facts-heading{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
}
.facts-paragraph{
    color: #727272;
    font-size: 1.3rem;
    font-weight: 600;
}
.sponsors{
    text-align: center;
    margin-top: 150px;
}
.sponsors-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}


@media screen and (max-width:576px) {
    .image-container{
        width: 80%;
       padding: 20px 40px;
    }
    nav, .first-section, .facts-container, .sponsors-img{
        flex-direction: column;
        padding: 20px;
    }
    .sponsors-img img{
        width: 165px;
    }
    .sponsors-img{
        gap: 40px;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .div{
        padding: 20px 20px 0px 20px;
    }
    .team-title{
        padding-left: 5px;
        padding-top: 20px;
    }
    .first-paragraph{
        padding: 10px;
    }
    .facts-container{
        padding-top: 0px;
    }
    nav a{
        padding-left: 20px;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .image-container{
        padding: 50px 80px 0px 80px;
        width: 80%;
    }
    nav{
        flex-direction: column;
    }
    .div{
        padding: 20px;
    }
    .facts-container{
        gap: 20px;
    }
    .first-section{
        flex-direction: column-reverse;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .team-title{
        padding-bottom: 35px;
    }
    nav a{
        display: flex;
        justify-content: space-evenly;
    }
}